{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>RecipeBook - About</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{#  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>#}
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>

{#  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>#}
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">RecipeBook</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>

        {# This button below would likely be used AFTER login (e.g. go to /profile) #}
{#        <li><a href="/signup"><i class="large material-icons">account_circle</i></a></li>#}
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Making Cooking Easy!</h1>
      <div class="row center">
        <h5 class="header col s12 light">Our mission is to make kitchen life easy for everyone.</h5>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">search</i></h2>
            <h5 class="center">Search</h5>
            <p class="light">Find awesome recipes from our community of home chefs just like you. See something you like? Add it to your personal collection.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">cloud</i></h2>
            <h5 class="center">Store</h5>
            <p class="light">Time to throw out your old cookbooks! Safely store your recipes here in the cloud.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">add_shopping_cart</i></h2>
            <h5 class="center">Shop</h5>
            <p class="light">Headed to the grocery store? Generate a grocery list easily with using our Shopping Cart.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    {% comment %}
      <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
          </ul>
        </div>
      </div>
    </div>
      {% endcomment %}
    <div class="footer-copyright">
      <div class="container">
      <a class="orange-text text-lighten-3" href="/">RecipeBook</a> © 2020 All Rights Reserved
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{#  <script src="js/materialize.js"></script>#}
  <script src="{% static "js/materialize.js" %}"></script>

{#  <script src="js/init.js"></script>#}
  <script src="{% static "js/init.js" %}"></script>

  </body>
</html>
