{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>RecipeBook - Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{#  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>#}
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>

{#  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>#}
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">RecipeBook</a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>

        {# This button below would likely be used AFTER login (e.g. go to /profile) #}
{#        <li><a href="/signup"><i class="large material-icons">account_circle</i></a></li>#}
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Dive In 😊😊</h1>
      <div class="row center">
        <h5 class="header col s12 light">Like Pinterest, this page immediately lets you scroll through & search for awesome content.</h5>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">

          <!-- Card -->
          <div class="col s12 m3">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="https://i.pinimg.com/originals/cf/ae/b1/cfaeb18e1d2980ae281cc07f79bf7292.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Chocolate Strawberry Dessert Kabobs<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">link</a></p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>

          <!-- Card -->
          <div class="col s12 m3">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="https://www.simplemost.com/wp-content/uploads/2017/12/Screen-Shot-2017-12-11-at-4.37.16-PM.png">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Grandma's Homemade Apple Pie<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">link</a></p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>

          <!-- Card -->
          <div class="col s12 m3">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="https://media1.popsugar-assets.com/files/thumbor/-dI5-ABR1PTUTF2_PoYmF33fAwk/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2015/02/18/071/n/1922195/53b263e9791a087f_8cf07b635a690b882511bb93daec8a52/i/Milk--Cookie-Shots.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Nestlé Cookie Mugs<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">link</a></p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>

          <!-- Card -->
          <div class="col s12 m3">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="https://i2.wp.com/bakesalotlady.com/wp-content/uploads/2018/05/2018-05-17-061402180835..jpg?resize=768%2C1152&ssl=1">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Dark Chocolate and Salted Caramel Macarons<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">link</a></p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>



          <!-- Card -->
          <div class="col s12 m3">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="https://i.pinimg.com/originals/cf/ae/b1/cfaeb18e1d2980ae281cc07f79bf7292.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Chocolate Strawberry Dessert Kabobs<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">link</a></p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>

          <!-- Card -->
          <div class="col s12 m3">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="https://www.simplemost.com/wp-content/uploads/2017/12/Screen-Shot-2017-12-11-at-4.37.16-PM.png">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Grandma's Homemade Apple Pie<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">link</a></p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>

          <!-- Card -->
          <div class="col s12 m3">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="https://media1.popsugar-assets.com/files/thumbor/-dI5-ABR1PTUTF2_PoYmF33fAwk/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2015/02/18/071/n/1922195/53b263e9791a087f_8cf07b635a690b882511bb93daec8a52/i/Milk--Cookie-Shots.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Nestlé Cookie Mugs<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">link</a></p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>

          <!-- Card -->
          <div class="col s12 m3">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="https://i2.wp.com/bakesalotlady.com/wp-content/uploads/2018/05/2018-05-17-061402180835..jpg?resize=768%2C1152&ssl=1">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Dark Chocolate and Salted Caramel Macarons<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">link</a></p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>


      </div>

      <div class="row center">
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
      </div>
    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    {% comment %}
      <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
          </ul>
        </div>
      </div>
    </div>
      {% endcomment %}
    <div class="footer-copyright">
      <div class="container">
      <a class="orange-text text-lighten-3" href="/">RecipeBook</a> © 2020 All Rights Reserved
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{#  <script src="js/materialize.js"></script>#}
  <script src="{% static "js/materialize.js" %}"></script>

{#  <script src="js/init.js"></script>#}
  <script src="{% static "js/init.js" %}"></script>

  </body>
</html>
