{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>RecipeBook - Sign up</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{#  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>#}
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>

{#  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>#}
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div class="section no-pad-bot" id="index-banner">
    <div class="row center"><a href="/"><i class="medium grey-text material-icons">home</i></a></div>
    <div class="container">
      <br><br>
      <h2 class="header center orange-text">Sign Up</h2>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Username or Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input type="submit" value="Reset" class="waves-effect waves-light btn-large orange">
                </div>
            </div>
        </form>
        <br/>
    </div>
  </div>






  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{#  <script src="js/materialize.js"></script>#}
  <script src="{% static "js/materialize.js" %}"></script>

{#  <script src="js/init.js"></script>#}
  <script src="{% static "js/init.js" %}"></script>

  </body>
</html>
